WORKSPACE
/.bazel
/bazel-*
/.settings
/.project
/.classpath
/.factorypath
/.bazel_build_output
.bazelrc
/.idea/
/devtool/@bazel/output/
/devtool/@bazel/bazel-bin
/devtool/@bazel/bazel-genfiles
/devtool/@bazel/bazel-out
/devtool/@bazel/bazel-@bazel
/devtool/@bazel/bazel-meituan
/devtool/@bazel/bazel-testlogs
/devtool/@bazel/base_workspace
/devtool/@bazel/.settings
/devtool/@bazel/.project
/devtool/@bazel/.classpath
/devtool/@bazel/.factorypath
/devtool/@bazel/.idea/
/devtool/@bazel/base_workspace/bazel-bin
/devtool/@bazel/base_workspace/bazel-genfiles
/devtool/@bazel/base_workspace/bazel-out
/devtool/@bazel/base_workspace/bazel-base_workspace
/devtool/@bazel/base_workspace/bazel-testlogs
/devtool/@bazel/base_workspace/examples
/devtool/@bazel/base_workspace/tools
/devtool/@bazel/base_workspace/third_party
/devtool/@bazel/base_workspace/src
/devtool/@bazel/bazel.iml
/devtool/@bazel/tools/jdk/jdk
/devtool/@bazel/tools/jdk/ijar
/devtool/@bazel/tools/jdk/JavaBuilder_deploy.jar
/devtool/@bazel/tools/jdk/GenClass_deploy.jar
/devtool/@bazel/tools/jdk/SingleJar_deploy.jar
/devtool/@bazel/tools/objc/*.jar
/devtool/@bazel/tools/objc/ibtoolwrapper
/devtool/@bazel/tools/objc/realpath
/devtool/@bazel/tools/objc/StdRedirect.dylib
/devtool/dit/.idea/
/devtools/dit/.idea
/third_party/java/jgit/.idea/
/devtool/dit/target/
/devtool/dit/libunix.so
# source /deploy/build.sh generated, useful to use go tools locally
/deploy/go/
/deploy/cli.x
/deploy/master.x
/deploy/worker.x

*.pyc
*.iml
.ropeproject
*.go.swp
/devtool/dit/src/test/java/com/meituan/dit/newapi/DitCommandFlowTest.java
/devtools/code/fe/fe-code/.build/
/devtools/code/fe/fe-code/webroot/
/devtools/code/fe/fe-code/node_modules/
/devtools/code/fe/fe-code/*.un~
target/
